#container {
    display: flex;
    flex-direction: column;
}

.gridContainer {
    display: flex;
}

.grid {
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

.grid-size-btn {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 8px;
    width: fit-content;
}